
body {
    margin: 0;
}
.hero {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    background-color: #1f2937; 
    font-size: 24px;
    color: #f9faf8;
    padding-top: 25px;
}

.nav-bar {
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 0;
    margin-right: 0;
    gap: 2em;
    padding-right: 100px;
    
}

.nav-list {
    list-style: none;
}

.logo {
   margin-left: 0;
   padding-left: 100px; 
}

#pebbles-logo {
    border-radius: 10px;
}

li.nav-list:hover {
    background-color: #e5e7eb;
    color: #1f2937;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 5px 5px 0 5px;
}

.main {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    background-color: #1f2937; 
    padding-left: 100px; 
    padding-right: 100px;
    padding-bottom: 50px;
}

.intro-img {
    width: 100%;
    max-width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px; 
    margin-left: 50px
}

.intro > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #e5e7eb;
}

.intro > p {
    font-size: 18px;
    color: #e5e7eb;
    font-size: 18px;

}

.photo-section > h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.photo-section {
    margin-bottom: 50px;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.photo-cap {
    width: 100%;
    height: 20px;
    font-size: 18px;
    color: #1f2937;
    text-align: center;
    justify-content: center;
}

.img-one, .img-two, .img-three, .img-four {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    padding: 10px;   
    text-align: center;
    justify-content: center;
    border-collapse: separate;
}

.img-div {
    display: flex;
    flex-direction: column;
}

.quote {
    text-align: center;
    padding-bottom: 50px;
    background-color: #e5e7eb;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}
.quoter {
    margin-top: 10px;
    font-weight: 24px;
    color: #1f2937;
    
}
cite {
    font-weight: 24px; 
    color: #1f2937;
}

.bottom-banner {
    padding: 30px 75px;
    border-radius: 10px;;
    margin: 50px;

}

.bottom-banner-inner {
    background-color: #3882f6;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.banner-text {
    margin: 0 auto;
    text-align: center;
    padding-right: 20px;
}

.enquire {
    border: solid white;
    align-self:center;
    padding: 5px;
    padding-bottom: 5px;
    background-color: #3882f6;
    border-radius: 10px; 
    color: white;
    font-size: 18px;
    min-height:30px; 
    min-width: 100px;
}

.enquire:hover {
        background-color:#002ead;
        transition: 0.7s;
    } 

.footer { 
    text-align: center;
    background-color: #1f2937; 
    color: #f9faf8;
    padding: 10px;
}

.address-wrapper {
    background-color: #1f2937;
    text-align: center;
    color: #f9faf8;
    padding-top: 25px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin:auto 0 auto;
}

h1.address {
    font-size:24px;
}
.address {
    max-width: 500px;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.iframe-container {
    overflow: hidden;
    width: 100%;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.return-home {
    font-size: 24px;
    margin-bottom: 10px;
}
.return-home:hover {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 10px;
    margin-bottom: 10px;
}

a:visited {
    color: inherit;
}


@media screen and (max-width: 750px) {
    body {
        margin:0;
    }

    .hero {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0; 
        justify-items: flex-end;
    }

    #pebbles-logo {
        padding:0;
        margin-top : 10px;
    }

    .logo {
        padding: 0;
        margin: 0 auto;
    }

    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px; 
    }
    ul.nav-bar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        padding: 5px;
    }

    .intro-img {
        padding-top: 5px;
        margin: 0;
        margin-top: 5px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 5px;
    }

    .enquire {
        align-self: center;
        margin: 0 auto;
        
    }

    .bottom-banner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 40px;
        padding: 0;
    }

    .bottom-banner-inner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .bottom-banner-inner > button {
        margin-bottom: 10px;
    }

    .intro {
        margin: 0 auto;
        text-align: center;
    }
    .banner-text {
    margin-top : 0px;
    }

    blockquote {
        font-size: 18px;
    }   
  }